<h2>Add New Category</h2>

<%= form_for @category do |f| %>
	<!-- Check for errors if any -->
	<% if @category.errors.any? %>
		<% @category.errors.full_messages.each do |msg | %>
			<!-- Show each error message -->
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>

	<div class='form-group'>
		<%= f.label :name %><br />
		<%= f.text_field :name, class:'form-control' %>
	</div>

	<%= f.submit 'Submit', class:'btn btn-primary' %>
	<%= link_to "Cancel", root_path, class:'btn bt-default' %>
<% end %>

